[Unit]
Description = AltServer
Wants = network-online.target
Requires = avahi-daemon.service
After = network-online.target avahi-daemon.service

[Install]
WantedBy = multi-user.target

[Service]
Environment=ALTSERVER_ANISETTE_SERVER=http://100.82.213.22:6969
Environment=USBMUXD_SOCKET_ADDRESS=0.0.0.0:27015
ExecStart = /home/pi/AltServer-aarch64
Restart=always
